#ul {
    display: inline-block;
    list-style-type: none;
    margin-left: 5px;
}

#ul * {
    border: none;
}

#bookContainer {
    display: flex;
}

#titleLink {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    background-color: white;
    text-decoration: underline;
    color: blue;
}

#img {
    vertical-align: unset !important;
    margin-top: 8px;
}

#groupList {
    margin-left: 5px;
}